<header>
  <h1>Zaloguj się</h1>
</header>

<form method="post" name="form1">
  <input type="email" placeholder="e-mail" name="user" />
  <input type="password" placeholder="hasło" name ="pass"/>

  <button class="btn" type="submit" onClick="check()">Zaloguj</button>
  <button class="btn" type="submit" onClick="check()">Rejestracja</button>
  <button class="btn btn-primary btn-block"   (click)="signIn('Facebook');">
    <i class="fa fa-facebook" style="background-color: #385998; border-color: #385998"> </i> Zaloguj przez FB
  </button>
  <button class="btn" (click)="signOut();">Wyloguj się</button>
</form>
  <div *ngIf="user">
    <img src="{{ user.photoUrl }}">
    <h4>{{ user.name }}</h4>
  </div>

