<header>
  <h1>Zaloguj się</h1>
</header>

<form method="post" name="form1">
  <input type="email" placeholder="e-mail" name="user" />
  <input type="password" placeholder="hasło" name ="pass"/>

  <button class="btn" type="submit" onClick="check()">Zaloguj</button>
  <button class="btn" type="submit" onClick="check()">Rejestracja</button>
  <button *ngIf="hiddenButtonLoginFb" [disabled]="showButtonLoginFb" class="btn btn-primary btn-block"   (click)="signIn('Facebook');">
    <i class="fa fa-facebook" style="background-color: #385998; border-color: #385998"> </i> Zaloguj przez FB
  </button>
  <button *ngIf="hiddenButtonLogoutFb" [disabled]="showButtonLogoutFb" class="btn" (click)="signOut();">Wyloguj się</button>
</form>
<div class="menu" *ngIf="user">
  <!-- todo blokowac klawisz ZALOGUJ i uaktywnic klawisz WYLOGUJ -->
  <!-- todo pokazac zdjęcie na pasku nawigacyjnym -->
  <!-- todo wylaczyc zakladke ZALOGUJ -->
  <!-- todo obsluga klawiszy ZALOGUJ i WYLOGUJ -->
      <img src="{{ user.photoUrl }}">
</div>

